<div class=" text-dark rounded p-4 shadow-lg" style="min-height: 200px; border: 1px solid #ffc107; background-color: #FFFFE3;">
  <h5 class="text-black mb-3">Feedback & Rating</h5>
  <br />
<div class="mb-3">
        <span class="ms-2">Average Rating</span> - <span class="fw-bold">{{ overallRating }}/5</span>
  </div>
    <div class="d-flex justify-content-between align-items-center">
    <span class="mt-2 small feed-back-comment-color">
          Provides Overall User rating , Please click the link to for feedback for each event!
    </span>

  <!-- <div class="text-center mt-3">
    <a routerLink="/reviews" class="btn btn-warning px-4 py-2 fw-semibold">
      View All Reviews
    </a>
  </div>
   -->
  <div class="d-flex justify-content-end">
    <a routerLink="/reviews" class="btn btn-warning px-4 py-2 fw-bold">
        <i class="bi bi-star-fill"></i>
&nbsp;<b>View All Reviews</b>
    </a>
  </div>
</div>
  
</div>
